// scss/layout/_creations.scss
.creations {
    padding: 0 1.5rem 6rem;

    &__header {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__title {
        font-family: $font-primary;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__button--desktop {
        display: none; // Oculto en móvil
    }

    &__grid {
        display: grid;
        gap: 1.5rem;
    }

    &__item {
        position: relative;
        cursor: pointer;
        
        // Efecto de superposición
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
            z-index: 1;
        }

        &:hover {
            // Estilos al pasar el mouse
        }
    }
    
    &__item-image {
        width: 100%;
        display: block;
    }

    &__item-title {
        position: absolute;
        bottom: 0.05rem;
        left: 1.5rem;
        color: $color-white;
        font-family: $font-primary;
        font-weight: 300;
        font-size: 1.5rem;
        text-transform: uppercase;
        z-index: 2;
        width: 70%; // Para que el texto no llegue al borde
    }

    &__button--mobile {
        display: block; // Visible en móvil
        margin: 2rem auto 0;
        width: 7rem;
        text-align: center;
        // Aquí usarías el mixin o clase de botón general
        border: 2px solid $color-black;
        padding: 0.8rem 2.5rem;
        text-decoration: none;
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    // Estilos para Desktop
    @media (min-width: $breakpoint-desktop) {
        padding: 0 10% 10rem;
        max-width: 1440px;
        margin-inline: auto;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5rem;
        }
        
        &__button--desktop {
            display: block; // Visible en desktop
            width: 7rem;
            text-align: center;
            // Aquí usarías el mixin o clase de botón general
            border: 2px solid $color-black;
            padding: 0.8rem 2.5rem;
            text-decoration: none;
            color: $color-black;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        
        &__grid {
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }
        
        &__button--mobile {
            display: none; // Oculto en desktop
        }

        &__item-image1{
            content: url(/images/desktop/image-deep-earth.jpg);
        }

        &__item-image2{
            content: url(/images/desktop/image-night-arcade.jpg);
        }

        &__item-image3{
            content: url(/images/desktop/image-curiosity.jpg);
        }

        &__item-image4{
            content: url(/images/desktop/image-fisheye.jpg);
        }
        &__item-image5{
            content: url(/images/desktop/image-from-above.jpg);
        }

        &__item-image6{
            content: url(/images/desktop/image-grid.jpg);
        }

        &__item-image7{
            content: url(/images/desktop/image-pocket-borealis.jpg);
        }

        &__item-image8{
            content: url(/images/desktop/image-soccer-team.jpg);
        }
    }
}