.header {
    background-image: url('/images/mobile/image-hero.jpg'); // Imagen de fondo para móvil
    background-size: contain;
    background-position: center;
    color: $color-white;
    padding: 2rem 1.5rem;
    height: 600px;
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav{

    }

    &__container-mobile{
        display: flex;
        justify-content: space-between;
    }

    &__logo img {
        width: 140px; // Ajustar tamaño según el diseño
    }

    &__nav--desktop {
        display: none; // Oculto en móvil
    }

    &__hamburger {
        background: none;
        border: none;
        cursor: pointer;
    }
    
    &__title-box {
        border: 2px solid $color-white;
        padding: 1.5rem;
        margin-top: 7rem;
        max-width: 500px;
    }
    
    &__title {
        font-family: $font-primary;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.1;
    }

    // Estilos para Desktop
    @media (min-width: $breakpoint-desktop) {
        background-image: url('/images/desktop/image-hero.jpg'); // Imagen para desktop
        padding: 1em 10%;
        max-width: 1440px;
        margin-inline: auto;
        &__hamburger {
            display: none; // Ocultar menú hamburguesa
        }

        &__nav--desktop {
            display: block; // Mostrar menú de escritorio
        }

        &__nav-list {
            display: flex;
            list-style: none;
        }

        &__nav-item {
            margin-left: 2rem;
        }

        &__nav-link {
            color: $color-white;
            text-decoration: none;
            padding-bottom: 0.5rem;
            position: relative;
            // Efecto hover para la línea inferior
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: $color-white;
                transition: width 0.3s;
            }

            &:hover::after {
                width: 60%;
            }
        }
        
        &__title-box {
            margin-top: 8em;
            padding: 1.5rem;
            
        }

        &__title {
            font-size: 3.5rem;
            margin: 0;
        }
    }
}